.intro-main {
    margin-top: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;

    color: #293264;
}

.intro-desc {
    margin-top: 10px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #293264;
}

.start-button {
    width: 12vw;
    height: 3vw;

    margin-top: 25px;

    background: #4d5b9e;
    border-radius: 15px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #f5f7fb;
}
