main {
    width: 600px;
    height: 600px;
    /* width: 45%;
    height: 70%; */
    background-color: #f5f7fb;
    position: relative;
}

#blob-1 {
    position: absolute;
    top: 0;
    right: 0;
}

#blob-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.submit-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-button {
    width: 120px;
    height: 35px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    text-align: center;

    color: #f5f7fb;
    background: #4d5b9e;
    border-radius: 10px;
}
